<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse" style="border-radius: 0px !important;">
		<div class="container-fluid" style="width: 70%;">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SPOT</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="icon-github"></i></a></li>
					<li><a href="#"><span class="glyphicon icon-linked-in"></span></a></li>
					<li><a href="#"><span class="glyphicon globe"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class='center'>
		
	</div>
</body>

</html>